* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  font-family: 'Epilogue', sans-serif;
}
:root {
  --almost-white: hsl(0, 0%, 98%);
  --medium-gray: hsl(0, 0%, 41%);
  --almost-black: hsl(0, 0%, 8%);
  --paragraph-font-size: 1.8rem;
  --weight-medio:500;
  --weight-large:700;
}
body {
 background-color: var(--almost-white); 
}
a {
text-decoration: none;
color: black;
}
ul {
  list-style: none;
}
.not-visible {
  display: none;
}

/* header */
nav {
  width: 375px;
  
  height: auto;
  display: flex;
  justify-content: space-between;
  padding: 20px 14px;
}
 header nav .nav-right_menu .icon-menu  {
  cursor: pointer;
 } 

/*Menu mobile*/
header .menu-mobile-container_sombra {
  height: 100%;
  max-width: 375px;
  position: fixed;
  top: 0;
  width: 100%;
  background: #2f2f2cb8;
  z-index: 1;
  
}
header .menu-mobile-container_main {
  width: 239px;
  background: white;
  position: absolute;
  right: 0;
  height: 100%;
  z-index: 1;
}
header .menu-mobile-container_main .icon-close-menu img {
width: 20px;
cursor: pointer;
}
header .menu-mobile-container_main .icon-close-menu {
  text-align: end;
  margin: 20px 16px 29px;
}
header .menu-mobile-container_main .list-menu {
  padding-left:18px ;
}
header .icon-arrow {
  display: inline-block;
  width: 7px;
  height: 7px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-left: 7px;
  

}
header .icon_down {
  background-image: url(./images/icon-arrow-down.svg);
}
.icon_up {
  background-image: url(./images/icon-arrow-up.svg);
 
}
header .item-menu {
  color: var(--medium-gray);
  margin: 16px 0;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  
}
.menu_features,
.menu_company {
  margin: 25px 0;
}



header .menu-mobile-container_main .list-menu .sub_menu {
  padding-left: 26px;
  display: flex;
  font-size: 1.2rem;
  align-items: center;
}
header .menu-mobile-container_main .list-menu .sub_menu img {
margin-right: 10px;
}
header .text_login {
  margin-left: 76px;
  margin-top: 20px;
  cursor: pointer;
  
}
header .botton_register {
  width: 130px;
  height: 32px;
  text-align: center;
  font-size: 1rem;
  color: var(--medium-gray);
  border: 1px solid var(--medium-gray);
  border-radius: 9px;
  padding-top: 8px;
  margin-top: 10px;
  margin-left: 20px;
  cursor: pointer;
}

.main-article {
  width: 375px;
  position: relative;
}
section {
  width: 100%;
  height: auto;
}
section figure img {
  width: 375px;
  margin-bottom: 40px;
}
section .container-h1 {
  display: flex;
  width: 335px;
  margin: 0 auto;
  gap: 8px;
}
section div h1 {
  font-size: 3.5rem;
  font-weight: var(--weight-large);
  text-align: center;
  color: var(--almost-black);
  margin-bottom: 16px;

}
section div p {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  color: var(--medium-gray);
  line-height: 24px;
  margin-bottom: 25px;
}
section div button {
  width: 140px;
  height: 50px;
  background: var(--almost-black);
  color: var(--almost-white);
  border-radius: 18px;
  font-size: 1.6rem;
  font-weight: 700;
  cursor: pointer;
  position: absolute;
  left: calc(50% - 70px);

}

footer {
margin-top: 130px;
width: 100%;
height: 150px;
}
footer ul {
  display: flex;
  justify-content: space-around;
}
footer ul li span {
  display: inline-block;
  height: 50px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center; 
}
footer ul li .footer-databiz {
  background-image: url(./images/client-databiz.svg);
  width: 84px;
}
footer ul li .footer-audioPhile {
  background-image: url(./images/client-audiophile.svg);
  width: 65px;
}
footer ul li .footer-meet {
  background-image: url(./images/client-meet.svg);
  width: 59px;
}
footer ul li .footer-maker {
  background-image: url(./images/client-maker.svg);
  width: 62px;
}


@media (min-width: 376px){
  .icon-menu {
    display: none;
  }
  header nav ul li img {
  width: 60px;
  }
  .nav-left_icon {
    display: flex;
    gap: 50px;
  }
  header nav .nav-menu-desktop {
    display: flex;
    gap: 40px;
    width: 511px;
  }
  .menu-desktop_arrow {
    display: flex;
  }
  
  header nav .nav-menu-destop li {
    cursor: pointer;
  }
  header .icon-arrow { 
    margin-top: 4px;
  }
  header .item-menu {
    margin: 0;
    color: var(--medium-gray);
  }
  header .item-menu:hover {
    color: var(--almost-black);
  }
  header .list-menu {
    position: relative;
    top: 20px;
    left: 150px;
    display: inline-block;
  }
  header .menu-mobile-container_sombra {
   display: none;
  }
  nav {
    width: 100%;
    align-items: center;
    padding: 10px 15px 0 20px;
    margin-bottom: 50px;
  } 
  
  .nav-right_desktop {
    display: flex;
    gap:20px;
  }
  header .nav-right_desktop .text_login{
    font-size: 1.2rem;
    margin: 0;
    align-self: center;
  }
  header .nav-right_desktop .botton_register{
    width: 106px;
    font-size: 1.2rem;
    margin: 0;
  } 
  header .nav-right_desktop .botton_register:hover {
    border: 1px solid var(--almost-black);
  }

  nav .sub_desktop-feauture img {
    width: 10px;
    margin-right: 12px;
    
  }
  nav .sub_desktop-feauture {
    margin-bottom: 10px;
    display: flex;
    font-size: 1.2rem;
    align-items: flex-start;;
    
  }
  .sub_features {
    position: absolute;
    top: 39px;
    padding: 13px 17px 3px 17px;
    left: 79px;
    border-radius: 8px;
    box-shadow: 0px 14px 150px -21px var(--medium-gray);
    background: var(--almost-white);
  }
  .sub_company {
    position: absolute;
    top: 39px;
    padding: 13px 17px 3px 17px;
    left: 233px;
    border-radius: 8px;
    box-shadow: 0px 14px 150px -21px var(--medium-gray);
    background: var(--almost-white);
  }
  

  section {
    display: flex;
    margin: 0 auto;
    width: 900px;
    gap: 42px;
    flex-direction: row-reverse;
  }
  .figure-mobile {
    display: none;
  }
  .figure-desktop {
    display: block;
  }

  section .container-h1 {
    display: flex;
    width: 318px;
    flex-direction: column;
    gap: 0;
    margin: 0;
    margin-top: 81px;
  }
  section div h1 {
    font-size: 4.8rem;
    font-weight: var(--weight-large);
    color: var(--almost-black);
    margin: 0;
    text-align: left;
    line-height: 1.1;
    
  }
  section div .firt-h1::first-letter {
    font-size: 5rem;

  }
  .main-article {
    width: 42%;
    position: static;
  }
  section div p {
    text-align: justify;
    margin-top: 30px;
    margin-bottom: 33px;
  }
  section div button {
    position:static;
    left: 0;
  }
  section div button:hover {
    background: var(--almost-white);
    color: var(--almost-black);
  }
  section .main-article .article-parrafo_mobile {
    display: none;
  }

  footer{
    margin-top: 100px;
  }
}


@media (max-width: 376px){
  .nav-menu-desktop {
   display: none; 
  }
 .nav-right_desktop {
  display: none;
  }
  .figure-desktop {
    display: none;
  }
  section .main-article .article-parrafo_desktop{
    display: none;
  }
  nav .sub_features {
    display: none;
  }
  nav .sub_company {
    display: none;
  }
}

